//angular material
  mat-header-cell {
        font-size: 18px;
        font-weight: bold;
    }
.mat-table {
      overflow: auto;
    height: 536px;
    
}
.mat-tooltip {
  color: white !important;
  background-color: rgba(0, 187, 89, 0.73);
  font-size: 14px;
  font-weight: bold;
}
mat-header-row{
      background-color: rgba(0, 187, 89, 0.73); color:white;
      border-bottom-width: 0px;
}
mat-row{
   border:none;

}
mat-row:nth-child(even) {
    background-color: #e2dede;
    border-bottom-style: none;
    border-top-style: none;
    
}
mat-row:nth-child(odd) {
    background-color: white;
    border-bottom-style: none;
    border-top-style: none;
    
}


.addon{
     text-align: left;
    color: #555;
    font-weight: 300;
}

.example-container {

  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  
}
  .plussquare{
   font-size: 30px;
    color: rgba(0, 187, 89, 0.73);
    border: none;
    background: none;
}
.colsm3{
    // margin-left:-45px;
    margin-left: -20px;
    
  
}


.hr{
  margin-top: 8px; 
     margin-bottom: 0rem;
}
.inputtext{
  background-color: white;
  height: 34px;
}

.row-input{
    border-radius: 5px;
  
}
.row-addons{
    margin-bottom: 5px;
}
.row-label{
    text-align: right;
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 6px;
  pointer-events: none;
}

@media ( min-width:1365px){
    .mat-table{
        height: 400px;
        margin-top: 15px;
      }
     
      
    .admin1{
      height: 78% !important;
    }
}
@media ( min-width:1600px){
    .admin1{
        height: 92% !important;
      }
}