// .profile .tab-links li.active, .profile .tab-links li:hover, .profile .tab-links li:active {
//     background: #17B4C2 !important;
// }

// .tab-links > li a:hover > i,.tab-links > li a:active > i{
//     color:white;
// }

// .tab-links i{
//     color:#17B4C2;
// }

// .profile .tab-links li a:active,.profile .tab-links li a:focus{
//     //    color: white;
//        text-decoration: none;

//     }
.active{
    color: white;
    background-color: #17B4C2 ;
}
    .appointment{
    color:inherit;
    text-decoration: none;
}
.therapistrow{
font-size: 14px !important;  
font-weight: bold !important;
margin-top: 16px;
}
.setupfont{
  font-weight: bold;
}
.colsm6{
  text-align: left;
  margin-left: 2%;
}
.text-margin{
  text-align: left;
  margin-bottom: 2%;
  width: 64%;
}

.hr1{
     
    margin-top: 0rem;
    margin-right: 2%;
}
.hr2{
  margin-left: 40px;
  width: 100%;
  margin-top: 0rem;
}
.h4{
     margin-left: 17px;
    margin-right: 15px;
  border-top-width: 2px;
    border-top-style: solid;
}
.setup-footer{
        margin-left: -122px;
}

.manual-box{
    margin-left: -144px;
    margin-top: 15px;
    font-size: 14px;
    }
    .h3{
        margin-left: -33%;
    }
    .imageupload{

    height:87px;width:87px; border-radius:50%;margin-top:0px;margin-left:39px;}
    .h3region{
          margin-left:-85px;
            
    }
    .setup-footer-right{
            margin-left: -202px;
    }
    .served_regions{
       margin-left: -40%;
    }
    .buttonsave{
      text-align: left;
      margin-left: 2%;
      margin-bottom: 2%;
    }
    .cropimage{
      background: #17B4C2;
   font-weight: bold;
   font-size: 20px;
   text-align: center;
   color: #fff;
   padding: 10px;
   width: 100%;
  
  }
    .served_subregions{
    margin-left: 50px;
    }
    .hr2-right{
    margin-left: 499px;
    width: 47%;
    margin-top: 0rem;
    }
    .h3assignments{
        margin-top:40px;
          margin-left: 38px;
    }
  .setup-footer1{
      margin-left: -190px;
  }
  .h3notification{
          margin-left: 53px;
  }
  .left-radio{
margin-left: 134px;
  }
  .h3appointment{
       margin-left: 113px;
  }
  label{
          display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .manual-box{
    margin-left: -71px;
    width: 100%;
  }
  .appoinmenttext{
          
    width: 93%;
  }
    .h3supplies{
       margin-left: -82px;
       margin-top: 40px;
  }
 
  .h3-Other-Information{
    margin-left: -480px;
  }
  .setup-footer-left{
  margin-left: -122px;
  }
  .setup-footer-left1{
  margin-left: -622px;
  }
  .manual-box1{
    margin-left: 65px;
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
  }
  .text1{
          width: 50%;
    margin-left: 73px;
  }
  .manual-box2{
    // margin-left: -144px;
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
  }
   .text2{
     width: 50%;
    margin-left: 140px;
  }
  .manual-box3{
    margin-left: -144px;
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
  }
  .manual-box4{
       margin-left: 127px;
    margin-top: 15px;
    font-size: 14px;
    width: 91%;
  }
  .text4{
         width: 55%;
    margin-left: 13px;
  }
   .manual-box5{
       margin-left: 9px;
    margin-top: 15px;
    font-size: 14px;
    width: 91%;
  }
  .text5{
       width: 55%;
    margin-left: 131px;
  }
  .h3certificate{
        margin-left: -612px;
  }
  .setup-footer-certificate{
        margin-left: -612px;
            margin-top: 20px;
  }
  .manual-box6{
         margin-left: 150px;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
  }
  .manual-box7{
        margin-left: 150px;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
  }
  .manual-box8{
          margin-left: 150px;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
  }
  .manual-box9{
         margin-left: 150px;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
  }
  .text6{
              width: 40%;
    margin-left: 155px;
    margin-top: -34px;
  }
  .text7{
             width: 40%;
    margin-left: 155px;
    margin-top: -29px;
  }
  .text8{
          margin-left: 155px;
    width: 40%;
    margin-top: -32px;
  }
  .text9{
          width: 40%;
    margin-left: 155px;
    margin-top: -31px;
  }
  .manual-box-appoinment{
          margin-left: 122px;
    width: 100%;
  }
  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #17B4C2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #17B4C2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
mat-header-row{
  background-color: #17B4C2; 
  border-bottom-width: 0px;
}
mat-header-cell {
  font-size: 18px;
  font-weight: bold;
}
