<div class="leftside-configuration">
    <h2 style="margin-bottom: 15px;"></h2>
    <div class="rmenu">
        <div class="rnav" ui-sref-active="active">
            <a [routerLink]="['/book-massage/appointment']" id="tab1">
                <i style="color:#17B4C2;font-size: 13px;" class="fa fa-calendar-o"></i> Appointment</a>
        </div>
        <div class="rnav pad" ui-sref-active="active">
            <a [routerLink]="['/book-massage/frequency']" id="tab2">
                <i style="color:#17B4C2;" class="fa fa-retweet"> </i> Frequency</a>
        </div>
        <div class="rnav" ui-sref-active="active">
            <a [routerLink]="['/book-massage/alert-notification']" id="tab5">
                <i style="color:#00BB59;" class="fa fa-comments"> </i> Alert/Notification</a>
        </div>
        <div class="rnav" ui-sref-active="active">
            <a [routerLink]="['/book-massage/appointment-log']" id="tab3">
                <i style="color:#00BB59;" class="fa fa-cog"> </i> Appointment Log</a>
        </div>

        <div class="rnav" ui-sref-active="active">
            <a id="tab6">
                <i style="color:#F9C600;" class="fa fa-map-marker"> </i> Map</a>
        </div>

    </div>
</div>