.noticationtable{
    background-color: rgba(0, 187, 89, 0.73);
    color:  rgba(0,0,0,.54);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.labelbody{
        font-weight: 500;
    color: #555;
}
.leftrow{
    margin-left: 10px;
}
.inputtext{
        width: 77% !important;
      margin-bottom: 10px;
     background-color: #ddd;
}
.therpisttext{
      background-color: #ddd;
}
.templateTextArea{
 
    background-color: #ddd;
}
.notification{
     text-align: left;
    color: #555;
    font-weight: 300;
}
 .plussquare{
   font-size: 30px;
    color: rgba(0, 187, 89, 0.73);
    border: none;
    background: none;
    margin-left: 444px;
}
.mat-tooltip {
  color: white !important;
  background-color: rgba(0, 187, 89, 0.73);
  font-size: 14px;
  font-weight: bold;
}
.row-input{
    border-radius: 5px;
  
}
.row-addons{
    margin-bottom: 5px;
}
.row-label{
    text-align: right;
}
.textboxcolor{
  background-color: #ddd;
}