.nav1 ul li:hover {
    opacity: 1 !important;
}
.appoi{
         border-bottom: 5px solid #17b4c2 ;
    }
.avail{
         border-bottom: 5px solid #5fcbd5 ;
    }
    .add-custclass{
        border-bottom: 5px solid #54598C;
    }  
    .add-thepclass{
        border-bottom: 5px solid #17B4C2;
    }
    .addreport{
         border-bottom: 5px solid #00BB59;
    }
    .config{
         border-bottom: 5px solid #45cd86;
    }