<div class="row" style="height: 600px;overflow: scroll;">
  <div class="col-sm-2">
    <div class="leftside-configuration sidebar12">
      <h2 style="margin-bottom: 15px;"></h2>
      <div class="rmenu">

        <div class="rnav pad" ui-sref-active="active">

          <button type="button" class="servicebtn" (click)="tmpfrequency.show()" style="padding: 15px;">
            <i style="color:#17B4C2;" class="fa fa-retweet"> </i> Frequency
          </button>
        </div>
        <div class="rnav" ui-sref-active="active">
          <button type="button" class="servicebtn" (click)="tmpalertnotification.show()" style="padding: 15px;">
            <i style="color:#00BB59" class="fa fa-comments"> </i> Alert/Notification
          </button>
        </div>
        <div class="rnav" ui-sref-active="active">
          <button type="button" class="servicebtn" (click)="tmpappointmentlog.show()" style="padding: 15px;">
            <i style="color:#00BB59" class="fa fa-cog"> </i> Appointment Log
          </button>
          <!-- <a id="tab3">
                        <i style="color:#00BB59;" class="fa fa-cog"> </i> Appointment Log</a> -->
        </div>
        <div class="rnav" ui-sref-active="active">
          <button type="button" class="servicebtn" style="padding: 15px;">
            <i style="color:#F9C600;" class="fa fa-map-marker"> </i> Map
          </button>
          <!-- <a id="tab6">
                        <i style="color:#F9C600;" class="fa fa-map-marker"> </i> Map</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div style="margin-left: 40px;">
      <form [formGroup]="appointmentform">
        <!-- (submit)="create_appoinment()" -->
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <br>
                <label class="inputlabel">Select Search Type</label>
                <div class="row">
                  <div class="col-sm-1">
                    <select class="bookAptBox form-control" (change)="onFilterChange(filterArr[$event.target.selectedIndex])"
                      title="Select Search Type" style="margin-left:0px;margin-top:0px;">

                      <option *ngFor="let filter of filterArr" [value]="filter">{{filter.name}}</option>

                    </select>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" class="form-control searchcust" name="filter" formControlName="custfilter"
                      placeholder="Select Search Type">
                  </div>
                  <div class="col-sm-3" style="margin-left: -35px;">
                    <button type="button" (click)="customer_filter()" style="background-color: #54598C;" class="btn2 btn-default">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!--************************************************************************************Appointment status****************************************************************-->
              <div class="col-sm-5">
                <br>
                <label class="appointslabel">Appointment Status</label>
                <div>
                  <select class="form-control appoinmentstatus" (change)="onAppointmentChange(aptstatusData[$event.target.selectedIndex])"
                    (ngModel)="appointment.appointment_statuses">
                    <!-- <option [ngValue]="undefined" disabled selected> {{aptstsNamebyId}} </option> -->
                    <option *ngFor="let status of aptstatusData" [ngValue]="appointment_statuses" [selected]="appointment.appointment_statuses">{{status.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!--*********************************************************************************Select Customer******************************************************************************************************************-->
            <div class="row" style="margin-top:10px;">
              <div class="col-sm-12">
                <label>Select Customer</label>
                <div>
                  <button type="button" class="servicebtn" (click)="openModal(template)">
                    <i class="fa fa-user-plus fontclr" matTooltip="Add New Customer" [matTooltipPosition]="position"
                      style="font-size:140% ;margin-left: -13px;"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <!-- <input [formControl]="formControl" [disableControl]="disable">
                                    <button (click)="disable = false">Enable</button>  -->
                <!-- <input [formControl]="formControl" [disable]="condition"> -->
                <!-- {{appointment.customer.firstname}} {{appointment.customer.lastname}} -->
                <select (change)="onCustomerChange(customersData[$event.target.selectedIndex])" class="selectcustomer form-control"
                  style="margin-left:1px;margin-top: -28px; width:272px" (ngModel)="appointment.customer" [value]="appointment?.customer?._id">
                  <option *ngFor="let customer of customersData" [value]="customer._id" [selected]="appointment.customer">{{customer.firstname}}
                    {{customer.lastname}}
                    <!-- *ngFor="let customer of customersData" -->
                  </option>
                </select>
              </div>

              <!-- <div class="row">
                                    <div class="col-sm-8">
                                             <input [formControl]="formControl" [disableControl]="disable">
                                            <button (click)="disable = true">Disable</button> 
                                              <button (click)="disable = false">Enable</button>   
                                        <select (change)="onCustomerChange($event.target.value)" formControlName="selectcustomer" class="selectcustomer form-control"
                                            style="margin-left:1px;margin-top: -28px; width:272px" (ngModel)="appointment.customer">
                                            <option [value]="appointment.customer" [selected]="appointment.customer">{{appointment.customer.firstname}} {{appointment.customer.lastname}}
                                            </option>
                                        </select>
                                    </div> -->
              <!--********************************************************infocircle************************************************************************************-->
              <div class="infocircle">
                <a class="custbutton" [routerLink]="['/customer/profile/',appointment.customerId]" (mouseover)="customerpop($event)"
                  target="_blank">
                  <i class="fa fa-info-circle fontclr" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col-sm-4" *ngIf="isCustomer" class="detail_box customer_detail_box customer_detail_box_2 helpSection"
                style="border: 2px solid darkgray;">
                <div class="row" style="margin-top:10%;">
                  <div class="col-sm-8">
                    <select class="selectArrow form-control" (change)="onAddressChange(customerAdress[$event.target.selectedIndex])">
                      <option *ngFor="let address of appointment. customerAdress ">{{address.city}} {{address.zipcode}}
                        <!-- customerAdress -->
                      </option>
                    </select>

                  </div>
                  <div class="col-sm-2" style="text-align: right;padding-left:11%;">
                    <i class="fa fa-refresh"></i>
                  </div>
                  <div class="col-sm-2" style="right:4px;text-align:right;top:-32px;">
                    <button type="button" (click)="closepopup()" class="custbutton">
                      <i class="fa fa-times-circle" style="font-size: 28px; color:#FF6470!important;"></i>
                    </button>
                  </div>

                  <div class="col-sm-8">
                    <label>{{customer_adress.street1}}</label>
                    <br>
                    <label>{{customer_adress.state}}</label>
                    <label>{{customer_adress.city}}</label>
                    <label>{{customer_adress.zipcode}}</label>
                  </div>
                  <div class="col-sm-8">
                    <select class="selectArrow form-control" (change)="onContactChangeContactno(customerContact[$event.target.selectedIndex])">
                      <option *ngFor="let contact of customerContact ">{{contact.contact_name}}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-2" style="text-align: right;padding-left:11%;">
                    <button type="button" (click)="onChangereload()">
                      <i class="fa fa-refresh"></i>
                    </button>
                  </div>
                  <div class="col-sm-8">
                    <div *ngFor="let phone of customerPhone">
                      <label *ngIf="phone.phone!=null">{{phone.phone}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <control-messages [control]="appointmentform.controls.selectcustomer" style="color: #E82C0C;margin: 6px 0;"></control-messages>
            </div>
            <!--**************************************************************************Start Date and Time****************************************************************************************************-->
            <div class="row" style="margin-bottom:30px;">
              <div class="col-sm-12">
                <label>Start Date and Time</label>
              </div>
              <div class="row">
                <div class="col-sm-12" style="margin-left:19px;">
                  <angular2-date-picker [settings]="settings" name="bdaytime" formControlName="start_date" [ngModel]="appointment.start_date | date:'MMM-dd-yyyy hh:mm a'"
                    required (dateChange)="StartDateChange($event)"></angular2-date-picker>
                  <control-messages [control]="appointmentform.controls.start_date" style="color: #E82C0C;margin: 6px 0;"></control-messages>
                </div>
              </div>
            </div>
            <div class="my-container">
              <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
            </div>
            <!--==============================================================================therapist===============================================================================================================================-->

            <div class="therapist" style="background-color: #fff0;margin-top:-27px;">
              <label>Select Therapist</label>
              <a class="custbutton" placement="right" ngbTooltip="Tooltip on top">
              <i class="fa fa-info-circle fontclr " aria-hidden="true"></i>
            </a>
            </div>
            <div class="row" *ngFor="let therapist of therapistList; let i = index">
              <button style="background: none; border: none;" (click)="addMoretherapist(therapist)">
                <i class="fa fa-plus-circle fontclr" matTooltip="Add More Therapist" [matTooltipPosition]="position"
                  style="font-size:x-large ;margin-left: -16px;"></i>
              </button>
              <div class="col-sm-8 pl-3" style="margin-bottom:2%; display: inline-flex">
                <ng-select [items]="therapistsData" bindLabel="name" class="select-control form-control" [searchable]="false"
                  [(ngModel)]="therapistList[i]" [ngModelOptions]="{standalone: true}">
                  <ng-template ng-option-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label">{{item.name}}</span>
                  </ng-template>
                </ng-select>
                <span class="my-auto">
                  <!-- <a class="custbutton" [routerLink]="['/therapist/profile/',therapistId]" target="_blank" (mouseover)="opentherapist($event)">
                    <i class="fa fa-info-circle fontclr " aria-hidden="true"></i>
                  </a> -->
                  <a class="custbutton" [ngbTooltip]="tipContent" #t1="ngbTooltip" (click)="toggleWithGreeting(t1, 'Bonjour')"
                    triggers="manual">
                    <i class="fa fa-info-circle fontclr " aria-hidden="true"></i>
                  </a>
                </span>
                
                <div class="row">
                  <!--***********************************************************therapist info***********************************************************************-->
                  <div class="col-sm-2" [hidden]="therapistList.length == 1">
                    <button style="background: none; border: none;" (click)="removeTherapist(i)">
                      <i class="fa fa-times-circle crossbtn fontclr" matTooltip="Add More Therapist"
                        [matTooltipPosition]="position" style="font-size:x-large ;margin-left: 16px;margin-top:3px"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="isTherapist" class="detail_box customer_detail_box customer_detail_box_2 helpSection"
                style="border: 2px solid darkgray;margin-top: 6%;">
                <div class="row">
                  <div class="col-sm-8">
                    <select class="selectArrow form-control">
                      <!-- <option *ngFor="let therapist of appointment.therapist.address">{{therapist.city}}
                        {{therapist.zipcode}}</option> -->
                    </select>
                  </div>
                  <div class="col-sm-4" style="text-align: right;">

                    <button type="button" (click)="closepopuptherapist()" class="custbutton">
                      <i class="fa fa-times-circle" style="font-size: 28px; color:#FF6470!important;"></i>
                    </button>
                  </div>
                  <div class="col-sm-8">
                    <select class="selectArrow form-control">
                      <option *ngFor="let contact of therapistContact ">{{contact.phone}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <!--=================================================select services====================================================-->
            <label>Select Service</label>
            <!-- *ngFor="let service of " -->
            <div class="row option-box customer-div-1" *ngFor="let service of addServices; let i = index">
              <div class="col-sm-1" style="margin-top:5px;margin-left: -17px;">
                <button class="servicebtn" (click)="addMoreServices()">
                  <i class="fa fa-plus-circle fontclr" matTooltip="Add More Service" [matTooltipPosition]="position"
                    style="font-size:x-large ;margin-left: 4px;"></i>
                </button>
              </div>
              <div class="col-sm-7">
                <ng-select [items]="servicesData" bindLabel="name" class="select-control form-control" [searchable]="false"
                  [(ngModel)]="addServices[i]" [ngModelOptions]="{standalone: true}">
                  <ng-template ng-option-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label">{{item.name}}</span>
                  </ng-template>
                </ng-select>
              </div>

              <div class="col-sm-2">
                <span class="qut">
                  <input class="form-control qty" (change)="manualTotal()" formControlName="serviceqty" type="text"
                    placeholder="QTY" title="QTY" maxlength="3" [ngModel]="addServices.qty" />
                </span>
              </div>
              <div class="col-sm-1">
                <span class="qut input-width-lst input-icon">
                  <i>$</i>
                  <input class="form-control input1" (change)="manualTotal()" formControlName="servicetotal" tabindex="-1"
                    type="text" placeholder="0.00" [ngModel]="addServices.cost" />
                </span>
              </div>
              <div class="col-sm-1">
                <button *ngIf="addServices.length!=1" style="background: none; border: none;" (click)="removeService(service.value)">
                  <i class="fa fa-times-circle crossbtn  fontclr" matTooltip="Remove Services" [matTooltipPosition]="position"
                    style="font-size:x-large ;margin-left: 500%;margin-top:-11px"></i>
                </button>
              </div>
            </div>
            <!--*************************************************select Service Add On ************************************************************-->
            <label>Select Service Add On</label>
            <div class="row option-box customer-div-1" *ngFor="let serviceaddon of addServiceAddon; let i = index">
              <!-- *ngFor="let serviceaddon of addServiceAddon" -->
              <div style="margin-top:5px;">
                <button class="servicebtn" (click)="addMoreServicesAddon()">
                  <i class="fa fa-plus-circle fontclr" matTooltip="Add More Service Add On" [matTooltipPosition]="position"
                    style="font-size:x-large ;margin-left: 4px;"></i>
                </button>
              </div>

              <div class="col-sm-7">
                <ng-select [items]="servicesData" bindLabel="name" class="select-control form-control" [searchable]="false"
                  [(ngModel)]="addServiceAddon[i]" [ngModelOptions]="{standalone: true}">
                  <ng-template ng-option-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label">{{item.name}}</span>
                  </ng-template>
                </ng-select>
              </div>
              <div class="col-sm-2">
                <span class="qut">
                  <input class="form-control qty" formControlName="serviceaddonqty" type="text" placeholder="QTY" title="QTY"
                    maxlength="3" [(ngModel)]="servicesAddonArr.qty" (change)="manualTotal()">
                </span>
              </div>
              <div class="col-sm-1">
                <span class="qut input-width-lst input-icon">
                  <i>$</i>
                  <input class="form-control input1" tabindex="-1" formControlName="serviceaddontotal" type="text"
                    placeholder="0.00" [(ngModel)]="servicesAddonArr.cost" (change)="manualTotal()" />
                </span>
              </div>
              <div class="col-sm-1">
                <button *ngIf="addServiceAddon.length!=1" style="background: none; border: none;" (click)="removeServiceAddon(serviceaddon.value)">
                  <i class="fa fa-times-circle crossbtn fontclr" matTooltip="Remove Service AddOn" [matTooltipPosition]="position"
                    style="font-size:x-large ;margin-left:500%;margin-top:-11px"></i>
                </button>
              </div>
            </div>

            <!--***************************************************************Manual Item Entry*********************************************************************************-->
            <label>Manual Item Entry</label>
            <div class="row option-box customer-div-1" *ngFor="let manual of addManualItems; let i = index">
              <div style="margin-top:5px;">
                <button class="servicebtn" (click)="addMoreManualItem()">
                  <i class="fa fa-plus-circle fontclr" matTooltip="Add More Manual Item Entry" [matTooltipPosition]="position"
                    style="font-size:x-large ;margin-left: 4px;"></i>
                </button>
              </div>

              <div class="col-sm-7">
                <input class="selectArrow form-control" [(ngModel)]="addManualItems[i].name" placeholder={{manualNameById}} formControlName="ManualItem" />
              </div>
              <div class="col-sm-2">
                <span class="qut">
                  <input class="form-control qty" type="text" placeholder="QTY" title="QTY" maxlength="3"
                    formControlName="ManualItemqty" (change)="manualTotal()" />
                </span>
              </div>
              <div class="col-sm-1">
                <span class="qut input-width-lst input-icon">
                  <i>$</i>
                  <input class="form-control input1" tabindex="-1" type="text" placeholder="0.00" formControlName="ManualItemtotal"
                    (change)="manualTotal()" id="service_cost" />
                </span>
              </div>
              <div class="col-sm-1" hidden>
                <button style="background: none; border: none;margin-left: 25px;margin-top: 4px;" (click)="removeManualItem(manualitem.manualItem)">
                  <i class="fa fa-times-circle crossbtn fontclr" matTooltip="Remove ManualItem" [matTooltipPosition]="position"
                    style="font-size:x-large ;margin-left: 74px;margin-top:-11px"></i>
                </button>
              </div>
            </div>

            <!--***************************************************Gratuity**********************************************************-->
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <label class="totallabel">Gratuity</label>
                <i style="margin-left: 9px;font-style: normal;font-weight: 600;">$</i>
                <div class="total">
                  <input class="input form-control" tabindex="-1" placeholder="0.00" type="text" formControlName="gratuity"
                    [(ngModel)]="appointment.tip" style=" width: 107px;padding-right: 3px;" (change)="calgratuity()">
                </div>
              </div>
            </div>
            <!--***************************************************Total****************************************************************************-->
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <label class="totallabel">Total</label>
                <i style="margin-left: 33px;font-style: normal;font-weight: 600;">$</i>
                <div class="total input-icon">
                  <input class="input form-control" tabindex="-1" formControlName="total" placeholder="0.00" name="total"
                    type="text" [ngModel]="appointment.total_cost" style=" width: 107px" readonly>
                  <!-- [ngModel]="Total | number:'1.2-2'" -->
                </div>
              </div>
            </div>
          </div>
          <!--**************************************************************Notes************************************************************************-->
          <div class="col-sm-6">
            <div class="row">
              <mat-tab-group style="margin-top:5px;">
                <mat-tab label="Work Order">
                  <textarea class="txtarea form-control" style="height: 395px!important;" formControlName="worknotes"
                    placeholder="Work Order Notes" [ngModel]="appointment.work_order_notes"></textarea>
                </mat-tab>
                <mat-tab label="Private">
                  <textarea class="txtarea form-control" style="height: 395px!important;" formControlName="privatenotes"
                    placeholder="Private Notes" [ngModel]="appointment.privacy_notes"></textarea>
                </mat-tab>
                <mat-tab label="Invoice">
                  <textarea class="txtarea form-control" style="height: 395px!important;" formControlName="invoicenotes"
                    placeholder="Invoice notes" [ngModel]="appointment.invoice_notes"></textarea>
                </mat-tab>
                <mat-tab label="Summary">
                  <textarea class="txtarea form-control" style="height: 395px!important;" formControlName="summarynotes"
                    placeholder="Summary notes" [ngModel]="appointment.summary"></textarea>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>

        <div class="footer">
          <div id="appbtns" style="padding-top:5px;">
            <button type="text" class="button newbtn" (click)="reset_appointment()">New</button>
            <button type="submit" class="button savebtn" (click)="create_appoinment()">Save</button>
            <button class="button canclebtn">Cancel</button>
            <button class="button deletebtn">Delete</button>
          </div>



          <div class="crms-btn">
            <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" ng-click=" notificationIconFlag === false || openPushApp(apt._id,'false')"
              style="background:grey; cursor: pointer;" matTooltip="Alert/Notification" matTooltip="Add New Service"
              matTooltipPosition="below">
              <i class="fa fa-bell" aria-hidden="true" style="font-size: 18px;position: inherit; top: 0px;color: white;margin-left: 0px;">
              </i>
            </a>&nbsp;
            <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" ng-click=" notificationIconFlag === false || openInvoiceApp(apt._id)"
              style="background:grey; cursor: pointer;" matTooltip="Create Invoice" matTooltipPosition="below">
              <i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size: 18px;"></i>
            </a>&nbsp;
            <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" ng-click=" notificationIconFlag === false || openPushApp(apt._id,'true')"
              style="background:grey;" matTooltip="Email Invoice" matTooltipPosition="below">
              <i class="fa fa-share" aria-hidden="true" style="font-size: 18px;"></i>
            </a>&nbsp;
            <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" style="background:grey;" matTooltip="CRMS"
              matTooltipPosition="below">
              <i class="fa fa-users" aria-hidden="true" style="font-size: 18px;"></i>
            </a>&nbsp;
            <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" ng-click=" notificationIconFlag === false || openPushApp(apt._id,'false')"
              style="background:grey; cursor: pointer;" matTooltip="Payment" matTooltipPosition="below">
              <i class="fa fa-credit-card" aria-hidden="true" style="font-size: 18px;position: inherit; top: 0px;color: white;margin-left: 0px;">
              </i>
            </a>
          </div>
        </div>
      </form>

      <ng-template #template>
        <div class="modal-header" id="myModal" style="background:#54598c;margin-top:-31px;">
          <div style="background:#54598C;font-weight:bold;font-size:20px;text-align:center;color:#fff;width:100%;">
            Add New Customer
          </div>
          <a id="closeNewTherapistForm" style="float:right; margin-right:5px; cursor: pointer;" (click)="modalRef.hide()">
            <i class="fa fa-times-circle" style="font-size: 28px; color:#FF6470!important;"></i>
          </a>
        </div>
        <div class="modal-body fontclr">
          <section style="padding-top:20px;">
            <form (submit)="create_customer()" [formGroup]="customer">
              <div class="account">
                <table class="account1_tbl">
                  <tr>
                    <td style="position:relative;">
                      <div class="left_m">1</div>
                      <h3 style="padding-top:0px;">Account</h3>
                    </td>
                    <td>
                      <span>*</span> Required</td>
                  </tr>
                </table>
                <table class="act_fom " style="width: 113%;">
                  <div class="row">
                    <div class="col-sm-12" style="margin-left: 200%">
                      <img *ngIf="!this.image" class="thapp_c" src="../../../assets/img/custom.jpg">
                      <img *ngIf="this.image" class="thapp_c" [src]="image.data">

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="margin-left: 200%">
                      <label class="custom-file-upload file_upload" (click)="selectImage()">
                        <div style="color:#4B889A;text-shadow: 1px 1px #E6FFFF;">
                          <i class="fa fa-cloud-upload"></i> UPLOAD PROFILE PICTURE
                          <input #detectFile type="file" accept="image/png, image/jpeg, image/gif" hidden (change)="detectFiles($event)"
                            name="input-file-preview" />
                        </div>
                      </label>
                    </div>
                    <ng-template #ImageTemplate>
                      <div class="modal-body">
                        <div class="cropimage">
                          Image Crop
                          <a id="closeNewTherapistForm" style="float:right;  cursor: pointer;" (click)="confirmModalRef.hide()">
                            <i class="fa fa-times-circle" style="font-size: 28px; color:#FF6470!important;"></i>
                          </a>

                        </div>
                        <div class="row" style="margin-top: 5%">
                          <div class="col-sm-2">

                          </div>
                          <div class="col-sm-6">
                            <img-cropper class="thapp_c" [image]="data" [settings]="cropperSettings"></img-cropper>

                          </div>
                          <div class="col-sm-4">
                            <img [src]="data.image">
                          </div>
                        </div>

                      </div>
                      <div class="modalfooter fontclr">
                        <button type="button" class="btn btn-default" id="modal-btn-si" (click)="Imageupload(data.image)">Yes</button>
                        <button type="button" class="btn btn-no" id="modal-btn-no" (click)="confirmModalRef.hide()">No</button>
                      </div>
                    </ng-template>
                  </div>
                  <tr>
                    <td> Address Name:</td>
                    <td>
                      <input class="form-control" type="text" formControlName="addressname" name="addressname"
                        placeholder="Enter Address Name" maxlength="50" [ngModel]="addressname">
                    </td>
                  </tr>
                  <tr>
                    <td> CUSTOMER TYPE:</td>
                    <td>

                      <select class="form-control" name="CUSTOMERTYPE" (change)="selectcustomer($event.target.value)">
                        <option value="custtype">Select Customer Type</option>
                        <option value="Individual">Individual</option>
                        <option value="Corporate">Corporate</option>
                        <option value="HotelIndividyal">Hotel-Individual</option>
                      </select>

                    </td>
                  </tr>
                  <tr *ngIf="isCustomertype">
                    <td>
                      <span>*</span>COMPANY NAME</td>
                    <td>
                      <input type="text" class="form-control" name="companyname" placeholder="Enter Company Name"
                        formControlName="companyname" [ngModel]="companyname">
                      <control-messages [control]="customer.controls.companyname" style="color: #E82C0C;margin: 6px 0;"></control-messages>

                    </td>

                  </tr>
                  <tr *ngIf="!isCustomertype">
                    <td>
                      <span>*</span>FIRST NAME</td>
                    <td>
                      <input type="text" class="form-control" name="firstname" placeholder="Enter First Name" maxlength="50"
                        formControlName="firstname" [ngModel]="firstname">
                      <control-messages [control]="customer.controls.firstname" style="color: #E82C0C;margin: 6px 0;"></control-messages>

                    </td>
                  </tr>
                  <tr *ngIf="!isCustomertype">
                    <td>
                      <span>*</span>LAST NAME</td>
                    <td>
                      <input type="text" class="form-control" name="lastname" placeholder="Enter Last Name" maxlength="50"
                        formControlName="lastname" [ngModel]="lastname">
                      <control-messages [control]="customer.controls.lastname" style="color: #E82C0C;margin: 6px 0;"></control-messages>

                    </td>
                  </tr>

                  <tr>
                    <td>
                      <span>*</span> EMAIL</td>
                    <td>
                      <input type="email" class="form-control" name="email" placeholder="name@example.com"
                        formControlName="email" [ngModel]="email">
                      <control-messages [control]="customer.controls.email" style="color: #E82C0C;margin: 6px 0;"></control-messages>

                    </td>
                  </tr>
                </table>
                <table class="account1_tbl">
                  <tr>
                    <td style="position:relative;">
                      <div class="left_m" style="top:15px;">2</div>
                      <h3>Home Address</h3>
                    </td>
                  </tr>
                </table>
                <table class="act_fom " style="width: 156%;">
                  <tr>
                    <td>STREET</td>
                    <td>
                      <input type="text" class="form-control" placeholder="Enter Street" maxlength="100"
                        formControlName="homestreet">


                    </td>
                  </tr>
                  <tr>
                    <td>CITY</td>
                    <td>
                      <input type="text" class="form-control" placeholder="Enter City" maxlength="50" formControlName="homecity">


                    </td>
                  </tr>
                  <tr>
                    <td>STATE</td>
                    <td>
                      <input type="text" class="form-control" placeholder="Enter State" maxlength="50" formControlName="homestate">

                    </td>
                  </tr>
                  <tr>
                    <td>ZIP</td>
                    <td>
                      <input type="text" class="form-control" placeholder="Enter Zip" maxlength="6" formControlName="homezip">

                    </td>
                  </tr>

                  <tr>
                    <td> REGION</td>
                    <td>
                      <select id="regionn" placeholder="Select Region" class="textbox form-control" name="region"
                        [ngModel]="region" (change)="selectedregionRow(regions[$event.target.selectedIndex])"
                        formControlName="region" [(ngModel)]="region">
                        <option *ngFor="let region of regions" [value]="region">{{region.name}}</option>
                      </select>

                    </td>
                  </tr>
                  <tr>
                    <td> SUB-REGION</td>
                    <td>
                      <select class="textbox form-control" placeholder="Select Region" formControlName="sub_region"
                        [ngModel]="sub_region">
                        <option *ngFor="let subregion of subregions" [ngValue]="subregion">{{subregion.name}}</option>
                      </select>
                    </td>
                  </tr>
                </table>
                <table class="account1_tbl">
                  <tr>
                    <td style="position:relative;">
                      <div class="left_m" style="top:15px;">3</div>
                      <h3>Billing Address</h3>
                    </td>
                  </tr>
                </table>
                <table class="account2_tbl">
                </table>
                <table class="act_fom" style="width: 200%;">
                  <tr>
                    <td>STREET</td>
                    <td>
                      <input type="text" class="form-control" placeholder="Enter Street" maxlength="100"
                        formControlName="billingstreet">



                    </td>
                  </tr>
                  <tr>
                    <td>CITY</td>
                    <td>
                      <input type="text" class="form-control" placeholder="Enter City" maxlength="50" formControlName="billingcity">


                    </td>
                  </tr>
                  <tr>
                    <td>STATE</td>
                    <td>
                      <input type="text" class="form-control" placeholder="Enter City" maxlength="50" formControlName="billingstate">


                    </td>
                  </tr>
                  <tr>
                    <td>ZIP</td>
                    <td>
                      <input type="text" class="form-control" placeholder="Enter Zip" maxlength="6" formControlName="billingzip">


                    </td>
                  </tr>

                </table>
                <table class="account1_tbl">
                  <tr>
                    <td style="position:relative;">
                      <div class="left_m" style="top:15px;">4</div>
                      <h3>Contact Numbers</h3>
                    </td>
                  </tr>
                </table>
                <table class="act_fom" style="width:83%;">
                  <tr>
                    <td>CELL PHONE</td>
                    <td>
                      <input class="form-control" type="text" name="cellphone" placeholder="Enter Cell Phone" maskrate=""
                        formControlName="cellphone">

                    </td>
                  </tr>
                  <tr>
                    <td> WORK PHONE</td>
                    <td>
                      <input class="form-control" type="text" placeholder="Enter Work Phone" maskrate=""
                        formControlName="workphone">
                    </td>
                  </tr>
                  <tr>
                    <td> HOME PHONE</td>
                    <td>
                      <input class="form-control" type="text" placeholder="Enter Home Phone" maskrate=""
                        formControlName="homephone">
                    </td>
                  </tr>
                  <tr>
                    <td style="width:130px;">COMMUNICATION PREFERENCE</td>
                    <td>
                      <table class="multi_sel" style="width:77%;">
                        <tr>
                          <td>
                            <input class="form-control" type="checkbox" formControlName="emailpreferenceforcommunication"
                              [(ngModel)]="emailpreferenceforcommunication">
                            <label>Email</label>
                          </td>
                          <td>
                            <input class="form-control" type="checkbox" formControlName="phonepreferenceforcommunication"
                              [(ngModel)]="phonepreferenceforcommunication">
                            <label>Phone</label>
                          </td>
                          <td>
                            <input class="form-control" type="checkbox" formControlName="messagepreferenceforcommunication"
                              [(ngModel)]="messagepreferenceforcommunication">
                            <label>Message</label>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="account1_tbl">
                  <tr>
                    <td style="position:relative;">
                      <div class="left_m" style="top:15px;">5</div>
                      <h3>Payment Details</h3>
                    </td>
                  </tr>
                </table>
                <table class="act_fom" style="width:114%;">
                  <tr>
                    <td> CARD NUMBER</td>
                    <td>
                      <input class="form-control" type="text" name="card_number" placeholder="Enter Card Number"
                        valid-number ng-minlength="12" ng-maxlength="16">


                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td> EXP. &nbsp; MONTH/YEAR</td>
                    <td>
                      <table>
                        <tr>
                          <td>
                            <input class="form-control" type="text" name="exp_month" placeholder="Exp. Month(MM)"
                              maxlength="2" style="width:301px;">

                          </td>
                          <td>
                            <input class="form-control" type="text" placeholder="Exp. Year(YYYY)" name="exp_year"
                              maxlength="4" style="width:301px;">

                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td> CVC</td>
                    <td>
                      <input class="form-control" type="text" name="cvc_number" placeholder="Enter CVC" maxlength="4">

                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" style="position:relative">
                      <div class="flash_messages_div" style="left: 3%; width:100%; top:-60px;">
                      </div>
                      <button id="saveCustomer" [disabled]="!customer.valid" class="btn" style="width: 94%;padding:10px;margin-top:16px;font-size:16px;background:#54598c;">Save
                        Customer </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" STYLE="TEXT-ALIGN:CENTER; padding:10px 0px;">
                      <div>Please fill out all required (*) fields.</div>
                    </td>
                  </tr>
                </table>

              </div>
            </form>

          </section>

        </div>



      </ng-template>


      <br>





    </div>
  </div>
</div>


<!-- Frequency pop -->

<app-frequency #tmpfrequency style="width:100%;">
</app-frequency>


<app-alert-notification #tmpalertnotification style="width:100%;">
</app-alert-notification>


<app-appointment-log #tmpappointmentlog style="width:100%;">
</app-appointment-log>

<ng-template #tipContent let-greeting="greeting">hello!</ng-template>
