<div class="row">
  <div class="col-12 pr-0">
    <div class="appointment">
      <div class="leftside-configuration appointment-slider">
        <h2 style="margin-bottom: 15px;"></h2>
        <div class="rmenu">

          <div class="rnav pad" ui-sref-active="active">

            <button type="button" class="servicebtn" (click)="tmpfrequency.show()" style="padding: 15px;">
              <i style="color:#17B4C2;" class="fa fa-retweet"> </i> Frequency
            </button>
          </div>
          <div class="rnav" ui-sref-active="active">
            <button type="button" class="servicebtn" (click)="tmpalertnotification.show()" style="padding: 15px;">
              <i style="color:#00BB59" class="fa fa-comments"> </i> Alert/Notification
            </button>
          </div>
          <div class="rnav" ui-sref-active="active">
            <button type="button" class="servicebtn" (click)="tmpappointmentlog.show()" style="padding: 15px;">
              <i style="color:#00BB59" class="fa fa-cog"> </i> Appointment Log
            </button>
          </div>
          <div class="rnav" ui-sref-active="active">
            <button type="button" class="servicebtn" style="padding: 15px;">
              <i style="color:#F9C600;" class="fa fa-map-marker"> </i> Map
            </button>
          </div>
        </div>
      </div>


      <div class="appointment-content">
        <div class="row pl-md-3">
          <div class="col-lg-7 pt-4">
            <form [formGroup]="appointmentform">

              <!-- Start of select type and other appointment status -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-title">
                    <label class="inputlabel">Select Search Type</label>
                  </div>
                  <div class="form-inputs">
                    <div class="row">
                      <div class="col-11">
                        <select class="bookAptBox form-control" (change)="onFilterChange(filterArr[$event.target.selectedIndex])"
                          title="Select Search Type" style="margin-left:0px;margin-top:0px;">
                          <option *ngFor="let filter of filterArr" [value]="filter">{{filter.name}}</option>
                        </select>
                      </div>
                      <div class="col-1" style="margin-left: -35px;">
                        <button type="button" (click)="customer_filter()" style="background-color: #54598C;" class="btn2 btn-default search-button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-title">
                    <label class="inputlabel">Appointment Status</label>
                  </div>
                  <div class="form-inputs">
                    <div class="row">
                      <div class="col-12">
                        <ng-select [items]="aptstatusData" bindLabel="name" class="form-control" [searchable]="false"
                        [(ngModel)]="appointment.appointment_statuses" [ngModelOptions]="{standalone: true}">
                        <ng-template ng-option-tmp let-item="item" let-clear="clear">
                          <span class="ng-value-label">{{item.name}}</span>
                        </ng-template>
                      </ng-select>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <!-- End of select type and other appointment status -->

              <!-- Start of Select customer -->
              <div class="row mt-4">
                <div class="col-12">
                  <div class="form-title">
                    <label class="mb-1">Select Customer</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="my-auto px-0 flex-left-button">
                      <button type="button" class="servicebtn float-right" (click)="openModal(template)">
                        <i class="fa fa-user-plus fontclr" matTooltip="Add New Customer" [matTooltipPosition]="position"
                          style="font-size:140% ;"></i>
                      </button>
                    </div>

                    <div class="col-12">
                      <select (change)="onCustomerChange(customersData[$event.target.selectedIndex])" class="form-control"
                        (ngModel)="appointment.customer" [value]="appointment?.customer?._id">
                        <option *ngFor="let customer of customersData" [value]="customer._id" [selected]="appointment.customer">{{customer.firstname}}
                          {{customer.lastname}}
                        </option>
                      </select>
                    </div>

                    <div class="px-2 my-auto flex-right-button">
                      <a class="custbutton" [routerLink]="['/customer/profile/',appointment.customerId]" target="_blank"
                        [ngbTooltip]="tipContent" placement="right" [autoClose]="'outside'" triggers="manual" #t1="ngbTooltip"
                        (mouseenter)="toggleToolstip(t1)">
                        <i class="fa fa-info-circle fontclr " aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Select customer -->

              <!-- Start Select date and time -->
              <div class="row mt-4">
                <div class="col-12">
                  <div class="form-title">
                    <label class="mb-1">Start Date and Time</label>
                  </div>
                </div>
                <!-- <div class="col-6">
                  <form class="form-inline w-100">
                    <div class="form-group w-100">
                      <div class="input-group w-100">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                          ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                            <i class="fa fa-calendar-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="col-6">
                  <form class="form-inline w-100">
                    <div class="form-group w-100">
                      <div class="input-group w-100">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                          ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                            <i class="fa fa-calendar-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div> -->

                <div class="col-12">
                  <angular2-date-picker [settings]="settings" name="bdaytime" formControlName="start_date" [ngModel]="appointment.start_date | date:'MMM-dd-yyyy hh:mm a'"
                    required (dateChange)="StartDateChange($event)"></angular2-date-picker>
                  <control-messages [control]="appointmentform.controls.start_date" style="color: #E82C0C;margin: 6px 0;"></control-messages>
                </div>

              </div>
              <!-- End Select date and time -->

              <!--  Start Select Therapist -->
              <div class="row mt-4">
                <div class="col-12">
                  <div class="form-title">
                    <label class="mb-1">Select Therapist</label>
                  </div>
                </div>
                <div class="col-12" *ngFor="let therapist of therapistList; let i = index">
                  <div class="row">
                    <div class="my-auto px-0 flex-left-button">
                      <button type="button" class="servicebtn float-right" (click)="addMoretherapist(therapist)">
                        <i class="fa fa-plus-circle fontclr mt-1" matTooltip="Add More Therapist" [matTooltipPosition]="position"
                          style="font-size:140% ;"></i>
                      </button>
                    </div>

                    <div class="col-12">
                      <ng-select [items]="therapistsData" bindLabel="name" class="form-control" [searchable]="false"
                        [(ngModel)]="therapistList[i]" [ngModelOptions]="{standalone: true}">
                        <ng-template ng-option-tmp let-item="item" let-clear="clear">
                          <span class="ng-value-label">{{item.name}}</span>
                        </ng-template>
                      </ng-select>
                    </div>

                    <div class="px-2 my-auto flex-right-button">
                      <a class="custbutton" [routerLink]="['/customer/profile/',appointment.customerId]" target="_blank"
                        [ngbTooltip]="tipContent" placement="right" [autoClose]="'outside'" triggers="manual" #t1="ngbTooltip"
                        (mouseenter)="toggleToolstip(t1)">
                        <i class="fa fa-info-circle fontclr " aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!--  End Select Therapist -->

              <!-- Start Select Service -->
              <div class="row mt-4">
                <div class="col-12">
                  <div class="form-title">
                    <label class="mb-1">Select Service</label>
                  </div>
                </div>
                <div class="col-12" *ngFor="let service of addServices; let i = index">
                  <div class="row">
                    <div class="my-auto px-0 flex-left-button">
                      <button type="button" class="servicebtn float-right" (click)="addMoreServices()">
                        <i class="fa fa-plus-circle fontclr mt-1" matTooltip="Add More Service" [matTooltipPosition]="position"
                          style="font-size:140% ;"></i>
                      </button>
                    </div>
                    <div class="col-9">
                      <ng-select [items]="servicesData" bindLabel="name" class="form-control" [searchable]="false"
                        [(ngModel)]="addServices[i]" [ngModelOptions]="{standalone: true}">
                        <ng-template ng-option-tmp let-item="item" let-clear="clear">
                          <span class="ng-value-label">{{item.name}}</span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-1 px-0">
                      <input class="form-control" (change)="manualTotal()" formControlName="serviceqty" type="text"
                        placeholder="QTY" title="QTY" maxlength="3" [(ngModel)]="addServices[i].qty" />
                    </div>
                    <div class="col-2">
                      <i class="dollar-inside">$</i>
                      <input class="form-control text-right padding-left-20" (change)="manualTotal()" formControlName="servicetotal"
                        tabindex="-1" type="number" placeholder="0.00" [(ngModel)]="addServices[i].cost" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Select Service -->

              <!-- Start Select Service Add On -->
              <div class="row mt-4">
                <div class="col-12">
                  <div class="form-title">
                    <label class="mb-1">Select Service Add On</label>
                  </div>
                </div>
                <div class="col-12" *ngFor="let serviceaddon of addServiceAddon; let i = index">
                  <div class="row">
                    <div class="my-auto px-0 flex-left-button">
                      <button type="button" class="servicebtn float-right" (click)="addMoreServicesAddon()">
                        <i class="fa fa-plus-circle fontclr mt-1" matTooltip="Add More Service Add On"
                          [matTooltipPosition]="position" style="font-size:140% ;"></i>
                      </button>
                    </div>
                    <div class="col-9">
                      <ng-select [items]="serviceAddOnData" bindLabel="name" class="form-control" [searchable]="false"
                        [(ngModel)]="addServiceAddon[i]" [ngModelOptions]="{standalone: true}">
                        <ng-template ng-option-tmp let-item="item" let-clear="clear">
                          <span class="ng-value-label">{{item.name}}</span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-1 px-0">
                      <input class="form-control" formControlName="serviceAddonQty" type="text" placeholder="QTY" title="QTY"
                        maxlength="3" [(ngModel)]="addServiceAddon[i].qty" (change)="manualTotal()" />
                    </div>
                    <div class="col-2">
                      <i class="dollar-inside">$</i>
                      <input class="form-control text-right padding-left-20" formControlName="serviceAddonTotal" tabindex="-1"
                        type="number" placeholder="0.00" [(ngModel)]="addServiceAddon[i].cost" (change)="manualTotal()" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Select Service Add On -->

              <!-- Start Manual Item Entry -->
              <div class="row mt-4">
                <div class="col-12">
                  <div class="form-title">
                    <label class="mb-1">Manual Item Entry</label>
                  </div>
                </div>
                <div class="col-12" *ngFor="let manual of addManualItems; let i = index">
                  <div class="row">
                    <div class="my-auto px-0 flex-left-button">
                      <button type="button" class="servicebtn float-right" (click)="addMoreManualItem()">
                        <i class="fa fa-plus-circle fontclr mt-1" matTooltip="Add More Manual Item Entry"
                          [matTooltipPosition]="position" style="font-size:140% ;"></i>
                      </button>
                    </div>
                    <div class="col-9">
                      <input class="form-control" [(ngModel)]="addManualItems[i].name" placeholder={{manualNameById}}
                        formControlName="ManualItem" />
                    </div>
                    <div class="col-1 px-0">
                      <input class="form-control" type="text" placeholder="QTY" title="QTY" maxlength="3"
                        formControlName="ManualItemqty" (change)="manualTotal()" [(ngModel)]="addManualItems[i].qty" />
                    </div>
                    <div class="col-2">
                      <i class="dollar-inside">$</i>
                      <input class="form-control text-right padding-left-20" tabindex="-1" type="number" placeholder="0.00"
                        formControlName="ManualItemtotal" (change)="manualTotal()" id="service_cost" [(ngModel)]="addManualItems[i].cost"/>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Select Service Add On -->

              <!-- Start of Gratuity -->
              <div class="row mt-4">
                <div class="col-12">
                  <div class="row">
                    <div class="col-10 text-right px-0 my-auto">
                      <label>Gratuity</label>
                    </div>
                    <div class="col-2">
                      <i class="dollar-inside">$</i>
                      <input class="form-control text-right padding-left-20" tabindex="-1" placeholder="0.00" type="number"
                        formControlName="gratuity" [(ngModel)]="appointment.tip" (change)="calgratuity()">
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Gratuity -->

              <!-- Start of Total -->
              <div class="row mt-4">
                <div class="col-12">
                  <div class="row">
                    <div class="col-10 text-right px-0 my-auto">
                      <label>Total</label>
                    </div>
                    <div class="col-2">
                      <i class="dollar-inside">$</i>
                      <input class="form-control text-right padding-left-20" tabindex="-1" formControlName="total"
                        placeholder="0.00" name="total" type="number" [ngModel]="appointment.total_cost" readonly>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Total -->

            </form>
          </div>
          <div class="col-lg-5">
            <div class="row">
              <div class="col-12 pl-md-5">
                <mat-tab-group style="margin-top:5px;">
                  <mat-tab label="Work Order">
                    <textarea class="txtarea form-control" style="height: 395px!important;" formControlName="worknotes"
                      placeholder="Work Order Notes" [ngModel]="appointment.work_order_notes"></textarea>
                  </mat-tab>
                  <mat-tab label="Private">
                    <textarea class="txtarea form-control" style="height: 395px!important;" formControlName="privatenotes"
                      placeholder="Private Notes" [ngModel]="appointment.privacy_notes"></textarea>
                  </mat-tab>
                  <mat-tab label="Invoice">
                    <textarea class="txtarea form-control" style="height: 395px!important;" formControlName="invoicenotes"
                      placeholder="Invoice notes" [ngModel]="appointment.invoice_notes"></textarea>
                  </mat-tab>
                  <mat-tab label="Summary">
                    <textarea class="txtarea form-control" style="height: 395px!important;" formControlName="summarynotes"
                      placeholder="Summary notes" [ngModel]="appointment.summary"></textarea>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row mt-4">
              <div class="col-12 divider mb-3">

              </div>
              <div class="col-md-6">
                <div style="padding-top:5px;">
                  <button type="text" class="button newbtn" (click)="reset_appointment()">New</button>
                  <button type="submit" class="button savebtn" (click)="create_appoinment()">Save</button>
                  <button class="button canclebtn">Cancel</button>
                  <button class="button deletebtn">Delete</button>
                </div>
              </div>


              <div class="col-md-6 my-auto">
                <div class="crms-btn">
                  <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" ng-click=" notificationIconFlag === false || openPushApp(apt._id,'false')"
                    style="background:grey; cursor: pointer;" matTooltip="Alert/Notification" matTooltip="Add New Service"
                    matTooltipPosition="below">
                    <i class="fa fa-bell" aria-hidden="true" style="font-size: 18px;position: inherit; top: 0px;color: white;margin-left: 0px;">
                    </i>
                  </a>&nbsp;
                  <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" ng-click=" notificationIconFlag === false || openInvoiceApp(apt._id)"
                    style="background:grey; cursor: pointer;" matTooltip="Create Invoice" matTooltipPosition="below">
                    <i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size: 18px;"></i>
                  </a>&nbsp;
                  <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" ng-click=" notificationIconFlag === false || openPushApp(apt._id,'true')"
                    style="background:grey;" matTooltip="Email Invoice" matTooltipPosition="below">
                    <i class="fa fa-share" aria-hidden="true" style="font-size: 18px;"></i>
                  </a>&nbsp;
                  <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" style="background:grey;"
                    matTooltip="CRMS" matTooltipPosition="below">
                    <i class="fa fa-users" aria-hidden="true" style="font-size: 18px;"></i>
                  </a>&nbsp;
                  <a ng-class="(notificationIconFlag) ? '' : 'disabled change_hover'" ng-click=" notificationIconFlag === false || openPushApp(apt._id,'false')"
                    style="background:grey; cursor: pointer;" matTooltip="Payment" matTooltipPosition="below">
                    <i class="fa fa-credit-card" aria-hidden="true" style="font-size: 18px;position: inherit; top: 0px;color: white;margin-left: 0px;">
                    </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #tipContent let-greeting="greeting">
  <div class="row" style="margin-top:10%;">
    <div class="col-sm-8">
      <select class="selectArrow form-control" (change)="onAddressChange(customerAdress[$event.target.selectedIndex])">
        <option *ngFor="let address of appointment. customerAdress ">{{address.city}} {{address.zipcode}}
          <!-- customerAdress -->
        </option>
      </select>

    </div>
    <div class="col-sm-2 refresh" style="text-align: right;padding-left:11%;">
      <div class="row h-100" (click)="onChangereload()">
        <div class="col-12 my-auto refresh ml-2">
          <i class="fa fa-refresh"></i>
        </div>
      </div>
    </div>

    <div class="col-sm-2" style="right:4px;text-align:right;top:-32px;">
      <button type="button" (click)="toggleToolstip()" class="custbutton">
        <i class="fa fa-times-circle" style="font-size: 28px; color:#FF6470!important;"></i>
      </button>
    </div>

    <div class="col-sm-8">
      <label>{{customer_adress.street1}}</label>
      <br>
      <label>{{customer_adress.state}}</label>
      <label>{{customer_adress.city}}</label>
      <label>{{customer_adress.zipcode}}</label>
    </div>
    <div class="col-sm-8">
      <select class="selectArrow form-control" (change)="onContactChangeContactno(customerContact[$event.target.selectedIndex])">
        <option *ngFor="let contact of customerContact ">{{contact.contact_name}}
        </option>
      </select>
    </div>
    <div class="col-sm-2" style="text-align: right;padding-left:11%;">
      <div class="row h-100" (click)="onChangereload()">
        <div class="col-12 my-auto refresh ml-2">
          <i class="fa fa-refresh"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div *ngFor="let phone of customerPhone">
        <label *ngIf="phone.phone!=null">{{phone.phone}}</label>
      </div>
    </div>
  </div>
</ng-template>
