//angular material css
mat-tooltip {
  color: white !important;
  background-color: rgba(0, 187, 89, 0.73);
  font-size: 14px;
  font-weight: bold;
}
mat-table {
  overflow: auto;
  height:536px;
}
mat-header-row{
      background-color: rgba(0, 187, 89, 0.73); color:white;
    
      border-bottom-width: 0px;
}
mat-row{
   border:none;

}
mat-row:nth-child(even) {
    background-color: #e2dede;
    border-bottom-style: none;
    border-top-style: none;
    
}
mat-row:nth-child(odd) {
    background-color: white;
    border-bottom-style: none;
    border-top-style: none;
    
}
  mat-paginator-range-label {
        margin: 0 0 0 0 !important;
    }
    mat-header-cell {
        font-size: 18px;
        font-weight: bold;
    }
mat-form-field{
  width:100%;
}
.example-container {
  
  flex-direction: column;
//   max-height: 500px;
//   min-width: 300px;
  
}
.example-container-1{
flex-direction: column;
margin-top: -15px;
  
}

  .plussquare{
   font-size: 30px;
    color: rgba(0, 187, 89, 0.73);
    border: none;
    background: none;
}
.square{
    text-align: left;
}
.colsm3{
    // margin-left:-45px;
    margin-left: -20px;
    
  
}


.hr{
  margin-top: 8px; 
     margin-bottom: 0rem;
}
.inputtext{
  background-color: white;
  height: 34px;
}
.row-text{
    border-radius: 5px;
}

.modal-content {
    width: 100%;
    margin-left: -250px;
    cursor: auto;
}

.aleft {
    display: table-cell;
    width: 50%;
    min-width:250px;
    max-width: 178px;
    border: 1px solid #ddd;
    padding: 0 7px 0 7px;
    }

    .aright {
        display: table-cell;
        border: 1px solid #ddd;
        padding: 0 7px 0 7px;
        }

    .modal-content {
        width: 121% !important;
        margin-left: -250px;
        cursor: auto;
    }

  @media ( min-width:1365px){
      .mat-table-height{
        height: 400px !important;
        margin-top: 15px;
      }
      
      .admin1{
        height: 78% !important;
      }
  }
  @media ( min-width:1600px){
    .mat-table-height{
      height: 530px;margin-top: 15px;
    }
}